{% extends "base.html" %}

{% block title %}Create Role{% endblock %}

{% block body %}

<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 create">
    <h3><i>Create Role</i></h3>
    {% if errors is not empty %}
    <ul>
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post" action="/admin/role/store">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        {% for permission in permissions %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="permission-{{ permission.id }}" name="permissions[]" value="{{ permission.id }}">
            <label class="form-check-label" for="permission-{{ permission.id }}">{{ permission.description }}</label>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-2">Create</button>
    </form>
</div>

{% endblock %}
