<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('../../../css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('../../../css/bootstrap.min.css') }}">
</head>
<body>
<div class="feedback-system">
    {% include('./Navbar/index.html') %}

    <div class="content">
        <div class="container">
            <div class="row">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('../../../js/jquery-3.6.0.js') }}"></script>
<script src="{{ asset('../../../js/bootstrap.min.js') }}"></script>
</body>
</html>
