{% extends "base.html" %}

{% block title %}Feedback list{% endblock %}

{% block body %}

<div class="col-12">
    <h3><i>Feedback list</i></h3>
    <table class="table table-light">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Roles</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
        <tr>
            <td>{{ message.description }}</td>
            <td>
                <a href="/admin/permission/{{ permission.id }}/edit" class="btn btn-primary">Edit</a>
            </td>
            <td>
                <form method="post" action="/admin/permission/{{ permission.id }}/delete">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}